
@media print {
  body {
    background-color: white;
  }
  .non-printable {
    display: none;
  }
  .printable-area {
    margin: 0;
    padding: 0;
  }
  .print\:shadow-none {
    box-shadow: none !important;
  }
  .print\:border-none {
    border: none !important;
  }
  /* Hide sidebar and header */
  [data-sidebar="sidebar"],
  header {
    display: none !important;
  }
  main {
      padding: 0 !important;
  }
  @page {
    size: A4;
    margin: 1cm;
  }
}

    